Adding Genre to the dataset

In [4]:
import pandas as pd

In [2]:
df = pd.read_csv("NetFlix_User_Data_Combined.csv")

In [4]:
df.iloc[0:1]

,CustId,Rating,Date,MovieId,Movie_Id,Release_Year,Movie_Title
0,1488844,3,2005-09-06,1,1,2003.0,Dinosaur Planet

In [8]:
df.iloc[590:591]

,CustId,Rating,Date,MovieId,Movie_Id,Release_Year,Movie_Title
590,1563935,1,2005-08-12,2,2,2004.0,Isle of Man TT 2004 Review

In [11]:
df['Genre'] = 'Other'  # Default genre as 'Other'
df.loc[df['MovieId'] == 1, 'Genre'] = 'Science Fiction'

In [12]:
df.head()

,CustId,Rating,Date,MovieId,Movie_Id,Release_Year,Movie_Title,Genre
0,1488844,3,2005-09-06,1,1,2003.0,Dinosaur Planet,Science Fiction
1,822109,5,2005-05-13,1,1,2003.0,Dinosaur Planet,Science Fiction
2,885013,4,2005-10-19,1,1,2003.0,Dinosaur Planet,Science Fiction
3,30878,4,2005-12-26,1,1,2003.0,Dinosaur Planet,Science Fiction
4,823519,3,2004-05-03,1,1,2003.0,Dinosaur Planet,Science Fiction

In [13]:
df.tail()

,CustId,Rating,Date,MovieId,Movie_Id,Release_Year,Movie_Title,Genre
2761096,2082428,4,2005-11-29,491,491,1966.0,Torn Curtain,Other
2761097,313229,4,2005-10-20,491,491,1966.0,Torn Curtain,Other
2761098,2479719,4,2005-10-24,491,491,1966.0,Torn Curtain,Other
2761099,717937,4,2005-10-25,491,491,1966.0,Torn Curtain,Other
2761100,2549238,3,2005-12-01,491,491,1966.0,Torn Curtain,Other

In [16]:
df.loc[df['MovieId'] == 8, 'Genre'] = 'Documentary, Comedy, Drama'

In [15]:
df.loc[df['MovieId'] == 2, 'Genre'] = 'Action, Adventure'

In [17]:
df.loc[df['MovieId'] == 3, 'Genre'] = 'Crime, Drama, Mystery'

In [18]:
df.loc[df['MovieId'] == 4, 'Genre'] = 'Family'

In [19]:
df.loc[df['MovieId'] == 5, 'Genre'] = 'Documentary, Sport'

In [20]:
df.loc[df['MovieId'] == 28, 'Genre'] = 'Animation, Adventure, Comedy'

In [21]:
df.to_csv("Netflix_Movies_User_Ratings_Genre.csv", index=False)

In [22]:
documentary_df = df[df['Genre'].str.contains('Documentary', case=False, na=False)]
documentary_df[['Movie_Title', 'Genre']]

                         Movie_Title                       Genre
2846     The Rise and Fall of ECW             Documentary, Sport
2847     The Rise and Fall of ECW             Documentary, Sport
2848     The Rise and Fall of ECW             Documentary, Sport
2849     The Rise and Fall of ECW             Documentary, Sport
2850     The Rise and Fall of ECW             Documentary, Sport
...                              ...                         ...
20003  What the #$*! Do We Know!?     Documentary, Comedy, Drama
20004  What the #$*! Do We Know!?     Documentary, Comedy, Drama
20005  What the #$*! Do We Know!?     Documentary, Comedy, Drama
20006  What the #$*! Do We Know!?     Documentary, Comedy, Drama
20007  What the #$*! Do We Know!?     Documentary, Comedy, Drama

[16050 rows x 2 columns]

In [6]:
df = pd.read_csv("Netflix_Movies_User_Ratings_Genre.csv")

# Text2Emotion

In [27]:
# !pip install text2emotion
# !pip install spacy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: text2emotion in /home/hindupur.v/.local/lib/python3.8/site-packages (0.0.5)
Requirement already satisfied: emoji>=0.6.0 in /home/hindupur.v/.local/lib/python3.8/site-packages (from text2emotion) (2.10.0)
Requirement already satisfied: nltk in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from text2emotion) (3.6.1)
Requirement already satisfied: regex in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from nltk->text2emotion) (2021.4.4)
Requirement already satisfied: joblib in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from nltk->text2emotion) (1.0.1)
Requirement already satisfied: tqdm in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from nltk->text2emotion) (4.59.0)
Requirement already satisfied: click in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from nltk->text2emotion) (7.1.2)

In [29]:
# import text2emotion as te
# text="hi how are you"
# te.get_emotion(text)

In [30]:
# from text2emotion import get_emotion
# import emoji

# text = "I was asked to sign a third party contract a week out from stay. If it wasn't an 8 person group that took a lot of wrangling I would have cancelled the booking straight away. Bathrooms - there are no stand alone bathrooms. Please consider this - you have to clear out the main bedroom to use that bathroom. Other option is you walk through a different bedroom to get to its en-suite. Signs all over the apartment - there are signs everywhere - some helpful - some telling you rules. Perhaps some people like this but It negatively affected our enjoyment of the accommodation. Stairs - lots of them - some had slightly bending wood which caused a minor injury."

# x = get_emotion(text)
# x

In [31]:
# df['Emotion'] = df['Movie_Title'].apply(get_emotion)

In [32]:
from nrclex import NRCLex
 
# Assign list of strings
text = ['hate', 'lovely', 'person', 'worst']
 
# Iterate through list
for i in range(len(text)):
 
    # Create object
    emotion = NRCLex(text[i])
 
    # Classify emotion
    print('\n\n', text[i], ': ', emotion.top_emotions)

 hate :  [('fear', 0.2), ('anger', 0.2), ('negative', 0.2), ('sadness', 0.2), ('disgust', 0.2)]


 lovely :  [('trust', 0.16666666666666666), ('surprise', 0.16666666666666666), ('positive', 0.16666666666666666), ('sadness', 0.16666666666666666), ('joy', 0.16666666666666666), ('anticipation', 0.16666666666666666)]


 person :  [('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0)]


 worst :  [('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0)]

In [39]:
from nrclex import NRCLex

user_id = 1488844

user_df = df[df['CustId'] == user_id]

def classify_emotion(genre):
    emotion = NRCLex(genre)
    return emotion.top_emotions

user_df['Emotions'] = user_df['Genre'].apply(classify_emotion)

user_emotions = user_df['Emotions'].sum()

print(f"User {user_id} Emotions: {user_emotions}")

User 1488844 Emotions: [('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0), ('fear', 0.0), ('anger', 0.0), ('anticip', 0.0), ('trust', 0.0), ('surprise', 0.0), ('positive', 0.0), ('negative', 0.0), ('sadness', 0.0), ('disgust', 0.0), ('joy', 0.0)]

<ipython-input-39-71d1954cb2ee>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['Emotions'] = user_df['Genre'].apply(classify_emotion)

In [ ]:
user_emotions = df.groupby('CustId')['Emotions'].sum()
print(user_emotions)

In [41]:
!pip install vaderSentiment

Defaulting to user installation because normal site-packages is not writeable
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 3.3 MB/s eta 0:00:01
Requirement already satisfied: requests in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from requests->vaderSentiment) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /shared/centos7/anaconda3/2021.05/lib/python3.8/site-packages (from requests->vaderSentiment) (1.26.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [42]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

# Define a function to get sentiment scores
def get_sentiment_scores(text):
    sentiment_scores = analyzer.polarity_scores(text)
    return sentiment_scores

df['Sentiment_Scores'] = df['Movie_Title'].apply(get_sentiment_scores)

In [43]:
df.head()

,CustId,Rating,Date,MovieId,Movie_Id,Release_Year,Movie_Title,Genre,Sentiment_Scores
0,1488844,3,2005-09-06,1,1,2003.0,Dinosaur Planet,Science Fiction,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,822109,5,2005-05-13,1,1,2003.0,Dinosaur Planet,Science Fiction,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,885013,4,2005-10-19,1,1,2003.0,Dinosaur Planet,Science Fiction,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,30878,4,2005-12-26,1,1,2003.0,Dinosaur Planet,Science Fiction,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,823519,3,2004-05-03,1,1,2003.0,Dinosaur Planet,Science Fiction,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [45]:
df.to_csv("Netflix_user_mood_chart", index=False)